In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("holdings.csv")

In [4]:
df.head(15)

   Instrument  Qty.  Avg. cost     LTP  Cur. val       P&L  Net chg.  Day chg.
0   CENTRALBK    53      57.06   62.24   3298.72    274.67      9.08     -0.48
1        GAIL    15     165.00  219.05   3285.75    810.75     32.76     -0.52
2         HCC   102      50.19   47.82   4877.64   -241.92     -4.73     -0.27
3        HFCL    30     109.40  125.10   3753.00    471.00     14.35      5.26
4       HUDCO    40      68.18  325.05  13002.00  10274.75    376.74      7.65
5         IOC    16     166.55  170.17   2722.72     57.92      2.17      0.51
6       IRCON    31     118.72  279.75   8672.25   4991.90    135.64      1.25
7       IREDA    12     186.16  220.49   2645.88    411.96     18.44     -1.17
8        IRFC    70      35.69  177.70  12439.00   9940.70    397.90      0.68
9    JSWINFRA    15     255.10  354.75   5321.25   1494.75     39.06      1.87
10       NHPC    36      81.75  103.60   3729.60    786.50     26.72      2.11
11        PNB    35     123.84  121.50   4252.50    -82.00     -1.89     -0.12
12       RVNL    16     125.68  418.75   6700.00   4689.10    233.18      0.43
13     SUZLON    76      25.82   54.03   4106.28   2143.90    109.25      0.93
14  TATASTEEL    26     132.72  176.29   4583.54   1132.94     32.83     -0.05

In [48]:
print(df.sort_values(by="Cur. val"),"\n")
print(f'sum total of current value: {(df["Cur. val"].sum()):.2f}')

   Instrument  Qty.  Avg. cost     LTP  Cur. val       P&L  Net chg.  Day chg.
7       IREDA    12     186.16  220.49   2645.88    411.96     18.44     -1.17
5         IOC    16     166.55  170.17   2722.72     57.92      2.17      0.51
1        GAIL    15     165.00  219.05   3285.75    810.75     32.76     -0.52
0   CENTRALBK    53      57.06   62.24   3298.72    274.67      9.08     -0.48
10       NHPC    36      81.75  103.60   3729.60    786.50     26.72      2.11
3        HFCL    30     109.40  125.10   3753.00    471.00     14.35      5.26
13     SUZLON    76      25.82   54.03   4106.28   2143.90    109.25      0.93
11        PNB    35     123.84  121.50   4252.50    -82.00     -1.89     -0.12
14  TATASTEEL    26     132.72  176.29   4583.54   1132.94     32.83     -0.05
2         HCC   102      50.19   47.82   4877.64   -241.92     -4.73     -0.27
9    JSWINFRA    15     255.10  354.75   5321.25   1494.75     39.06      1.87
12       RVNL    16     125.68  418.75   6700.00   4689.10    233.18      0.43
6       IRCON    31     118.72  279.75   8672.25   4991.90    135.64      1.25
8        IRFC    70      35.69  177.70  12439.00   9940.70    397.90      0.68
4       HUDCO    40      68.18  325.05  13002.00  10274.75    376.74      7.65

sum total of current value: 83390.13

In [45]:
print(f'sum: {(df["Cur. val"].sum()):.2f}')

sum: 83390.13