## Measure of Central Tendency

In [1]:
age  = [12,23,34,343,545,35,47,788,24,98]

In [2]:
import numpy as np

In [3]:
np.mean(age)

194.9

In [4]:
np.median(age)

41.0

In [11]:
name = ["swayam","swayam","swayam","swarup","swarup","swarup","swayam","barik","cup"]

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(name)

In [14]:
df.mode()

        0
0  swayam

In [15]:
import seaborn as sns

In [18]:
df1= sns.load_dataset("tips")

In [21]:
df1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [19]:
np.mean(df1["total_bill"])

19.78594262295082

## for numerical mode we can use library scipy

In [20]:
from scipy import stats

In [24]:
stats.mode(df1["tip"])

ModeResult(mode=2.0, count=33)