## -----List------
#### 1. is a collection of heterogenous data type
#### 2. it also supports listing and indexing
#### 3. it is mutable whereas string are immutable

In [2]:
l = [1,345,45,"swayam",True,5+7j,345.456]

In [3]:
type(l)

list

In [4]:
l[1]

345

In [5]:
l[-1]

345.456

In [6]:
len(l)

7

In [7]:
l[1:3] ## it also show results till upperbound-1

[345, 45]

In [8]:
l[::-1]

[345.456, (5+7j), True, 'swayam', 45, 345, 1]

In [9]:
s = "swayam"

In [10]:
list(s)

['s', 'w', 'a', 'y', 'a', 'm']

In [11]:
list(s)+l

['s', 'w', 'a', 'y', 'a', 'm', 1, 345, 45, 'swayam', True, (5+7j), 345.456]

In [12]:
l

[1, 345, 45, 'swayam', True, (5+7j), 345.456]

In [13]:
l[3][0:2]

'sw'

In [14]:
l[4][0] ##not possible because it is an boolean object

TypeError: 'bool' object is not subscriptable

In [15]:
str(l[4])[0]

'T'

##### we can only concatenate a list ot a list

In [16]:
l1 = [3,4,5]

In [17]:
l + l1

[1, 345, 45, 'swayam', True, (5+7j), 345.456, 3, 4, 5]

In [18]:
l1 * 3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [19]:
l.append(5)

In [20]:
l

[1, 345, 45, 'swayam', True, (5+7j), 345.456, 5]

In [21]:
l.pop()

5

In [22]:
l.count(345)

1

In [23]:
l.reverse()

In [24]:
l

[345.456, (5+7j), True, 'swayam', 45, 345, 1]

In [25]:
l.append("swarup")

In [27]:
l.append(l1)

In [28]:
l

[345.456, (5+7j), True, 'swayam', 45, 345, 1, 'swarup', [3, 4, 5]]

#### we can store a list inside a list

In [30]:
l[-1][0] ## removing a value from list inside a list

3

In [35]:
l.extend(67)  ## the argument should be iterable inside an extend method
## int is not iterable

TypeError: 'int' object is not iterable

In [36]:
l.extend("barik")

In [37]:
l

[345.456,
 (5+7j),
 True,
 'swayam',
 45,
 345,
 1,
 'swarup',
 [3, 4, 5],
 'b',
 'a',
 'r',
 'i',
 'k',
 'b',
 'a',
 'r',
 'i',
 'k']

In [38]:
l.extend([345,689,69])

In [39]:
l

[345.456,
 (5+7j),
 True,
 'swayam',
 45,
 345,
 1,
 'swarup',
 [3, 4, 5],
 'b',
 'a',
 'r',
 'i',
 'k',
 'b',
 'a',
 'r',
 'i',
 'k',
 345,
 689,
 69]

In [40]:
l1

[3, 4, 5]

In [43]:
l1.insert(1,"great") # it helps to insert data at any index

In [44]:
l1

[3, 'great', 'great', 4, 5]

In [45]:
l1.remove("great")

In [46]:
l1

[3, 'great', 4, 5]

In [47]:
l1.insert(3,"great")

In [48]:
l1

[3, 'great', 4, 'great', 5]

In [49]:
l1.remove("great") # remobves the first occurence of the value

In [50]:
l1

[3, 4, 'great', 5]

In [53]:
l1.insert(-1,45) # the data has been entered into the -1 position but the isue 
## the other values have been shifted

In [55]:
l1.remove(45)

In [56]:
l1

[3, 4, 'great', 45, 5]

In [59]:
l1.insert(2,45)

In [60]:
l1.insert(2,"great")

In [61]:
l1.pop(2) #index position is removed

'great'

In [63]:
l1.remove("br") #if there is nothing then ValueError

ValueError: list.remove(x): x not in list

In [64]:
l1

[3, 4, 45, 5]

In [65]:
l

[345.456,
 (5+7j),
 True,
 'swayam',
 45,
 345,
 1,
 'swarup',
 [3, 4, 45, 5],
 'b',
 'a',
 'r',
 'i',
 'k',
 'b',
 'a',
 'r',
 'i',
 'k',
 345,
 689,
 69]

In [69]:
l[8].remove(3)

In [70]:
l

[345.456,
 (5+7j),
 True,
 'swayam',
 45,
 345,
 1,
 'swarup',
 [4, 45, 5],
 'b',
 'a',
 'r',
 'i',
 'k',
 'b',
 'a',
 'r',
 'i',
 'k',
 345,
 689,
 69]

l1[::-1] v/s l1.reverse() the first one is just console thing but in the second case it makes changes to the original list

In [74]:
l1.sort(reverse=True) #by default revese = False to do ascending order

In [75]:
l1

[45, 5, 4]

In [76]:
l2 = ['d','a','z','f','wwdfe']

In [77]:
l2.sort()

In [78]:
l2

['a', 'd', 'f', 'wwdfe', 'z']

In [79]:
l2.index('f')

2

In [80]:
l2.count(w)

NameError: name 'w' is not defined

In [81]:
l2.count('w')

0

In [82]:
s = "swayam"

In [83]:
s[0] = "b" ##not possible because strings are immutable

TypeError: 'str' object does not support item assignment

In [86]:
l1[0] = 30

In [88]:
l1 ## lists are immutable

[30, 5, 4]

In [89]:
l1.insert(2,31)

In [90]:
l1

[30, 5, 31, 4]

In [95]:
s.replace('s','a') ## this is not permanent , this creating a completely new object

'awayam'

In [96]:
s

'swayam'

In [171]:
l3=[23,344,54553,3,[43,345,34,545]]

In [172]:
l.extend(l3)

In [173]:
l

[30,
 (5+7j),
 True,
 'swayam',
 45,
 345,
 1,
 'swarup',
 [30, 5, 31, 4],
 'b',
 'a',
 'r',
 'i',
 'k',
 'b',
 'a',
 'r',
 'i',
 'k',
 345,
 689,
 69,
 23,
 344,
 54553,
 3,
 [43, 345, 34, 545]]

### ---------Tuples----------
#### 1. it is used using ( ) and is heterogenous
#### 2. supports indexing
#### 3. immutable

In [98]:
t = (2,3,4,"swayam",345.89,True,546+678j)

In [99]:
type(t)

tuple

In [100]:
len(t)

7

In [101]:
t[-1]

(546+678j)

In [102]:
t[::-1]

((546+678j), True, 345.89, 'swayam', 4, 3, 2)

In [103]:
t

(2, 3, 4, 'swayam', 345.89, True, (546+678j))

In [104]:
t[0] = 56 ## immutable

TypeError: 'tuple' object does not support item assignment

#### we can use tuples to store password as it supports heterogenous value and can't be changed

In [105]:
t.count(3)

1

In [108]:
t.index("swayam") # if not found then error

3

### ------------Sets---------------
#### 1. it does not contains duplicate values
#### 2. it is also a collection of heterogenous values just like list,tuples
#### 3.it can store only tuples and not list because set can only contain immutable values
#### 4. it doesnot arrange data it always tries to form unordered collection of data
#### 5. doesnot support indexing and slicing
#### 6.mutable

In [7]:
s1={2,3,4,4}

In [8]:
type(s1)

set

In [9]:
s1

{2, 3, 4}

In [10]:
s2={"swayam","Swayam"}

In [11]:
s2 ## not removed beacuse python is case sensitive

{'Swayam', 'swayam'}

In [12]:
s3={2343,3424,656,'abc',12132,12,434,2}

In [13]:
s3

{12, 12132, 2, 2343, 3424, 434, 656, 'abc'}

In [14]:
s1.union(s3)

{12, 12132, 2, 2343, 3, 3424, 4, 434, 656, 'abc'}

In [15]:

s3.intersection(s1)

{2}

In [16]:
s1

{2, 3, 4}

In [17]:
s3

{12, 12132, 2, 2343, 3424, 434, 656, 'abc'}

In [18]:
s3.add(23)

In [19]:
s3

{12, 12132, 2, 23, 2343, 3424, 434, 656, 'abc'}

In [20]:
s3.remove(2)

In [21]:
s3

{12, 12132, 23, 2343, 3424, 434, 656, 'abc'}

s3.sort() not possible

In [22]:
pw-skills =10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3087608110.py, line 1)

In [23]:
for i in t:
    print(t[i])

NameError: name 't' is not defined

In [ ]:
string = "p w s k i l l s"

" ".join(string.replace(" ", ""))

In [ ]:
m=(45,)

In [ ]:
type(m)

In [26]:
x = 5

if(x > 10):

    print("x is greater than 10")

else:

    print("x is not greater than 10")

x is not greater than 10

In [29]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [2]:
i=int(input("enter your number")) #by default input in python is string
while(i<5):
    print(i)
    i=i+1

enter your number1
1
2
3
4

In [13]:
l1=[1,2,3,4,5,6,7]
print([i**2 for i in l1])
print([i%2==0 for i in l1])
print([i for i in l1 if i%2==0])

[1, 4, 9, 16, 25, 36, 49]
[False, True, False, True, False, True, False]
[2, 4, 6]

In [14]:
l1=["swayam","swarup","barik"]
print([i.capitalize() for i in l1])

['Swayam', 'Swarup', 'Barik']

In [15]:
##tuple comprehension is possible but it gives a generator object so we typecast it to lis